<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A0195131C4756EC00A7A47A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A01952A1C4756EC00A7A47A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A0195351C4756EC00A7A47A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
